<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./footer.css" />
  </head>
  <body></body>

  <footer>
    <nav>
      <ul class="basement">
        <li class="basement-item">
          <a class="basement-link" href="#about us">ABOUT AS</a>
        </li>
        <li class="basement-item">
          <a class="basement-link" href="#our collection">OUR COLLECTION</a>
        </li>
        <li class="basement-item">
          <a class="basement-link" href="#customer order">CUSTOMER ORDER</a>
        </li>
        <li class="basement-item">
          <a class="basement-link" href="#testimonials">TESTIMONIALS</a>
        </li>
      </ul>
    </nav>
    <p class="text" id="basement-text">
      A touch of <span>Ukrainian</span> culture in every embroidery
    </p>
  </footer>
</html>
